<h1>My Tasks</h1>

<div>
  <% @tasks.each do |task| %>
    <div class="form-check">
    <% if task['completed'] == true %>
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
    <% else %>
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <% end %>
      <label class="form-check-label" for="flexCheckDefault">
        <%= link_to task['title'], task_path(task["id"]) %>
      </label>
    </div>
    <%= link_to "Delete",
      task_path(task),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  <% end %>
</div>

<%= link_to "Add a new Task", tasks_new_path%>
